{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | prepend: site.baseurl }}" >
    <meta name="theme-color" content="#222222"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ '/assets/css/svg-with-js/js/fontawesome-all.js' | relative_url }}"></script>
    <link href="{{ '/assets/css/bootstrap4.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
 </head>

<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '' | relative_url }}/">
            <img src="{{ '/favicon.png' | prepend: site.baseurl }}">
            {{ site.name }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ '' | relative_url }}/">/home</a>
                <a class="nav-item nav-link" href="{{ 'notes' | relative_url }}/">/notes</a>
                <a class="nav-item nav-link" href="{{ 'archive' | relative_url }}">/archive</a>
                <a class="nav-item nav-link" href="{{ 'tags' | relative_url }}">/tags</a>
            </div>
        </div>
    </div>
</nav>
