{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | prepend: site.baseurl }}" >
    <meta name="theme-color" content="#222222"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ '/assets/css/fa-svg.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/code_highlight.css' | relative_url }}" rel="stylesheet">
 </head>

<body>

<nav class="navbar">
    <div class="navbar-collapse nav_pad">
        <a class="navbar-brand container-transition" href="{{ '' | relative_url }}/">
            <img src="{{ '/favicon.png' | prepend: site.baseurl }}">
            {{ site.name }}
        </a>

        <div class="navbar-nav container-transition">
            <a class="nav-item nav-link link-fade" href="{{ '' | relative_url }}/">/home</a>
            <a class="nav-item nav-link link-fade" href="{{ 'notes' | relative_url }}/">/notes</a>
            <a class="nav-item nav-link link-fade" href="{{ 'archive' | relative_url }}">/archive</a>
            <a class="nav-item nav-link link-fade" href="{{ 'tags' | relative_url }}">/tags</a>
            <a class="nav-item nav-link link-fade" href="{{ 'links' | relative_url }}">/links</a>
            <a class="nav-item nav-link link-fade" href="{{ 'about' | relative_url }}">/about</a>
        </div>
    </div>
</nav>
