
#dragBar {
    cursor: move !important;
}

.draggable {
    display: table;
    width: max-content;
    /* position:fixed;  */
    z-index:100;
    /* right:0;  */
    /* min-width: 20%; */
    /* min-height: 20%; */
}

.drag_destination {
    /* display: table; */
    /* width: max-content; */
}

.center
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

