
:root{
    --transparent-color: rgba(0, 0, 0, 0);
    --accent-color: #f7ce6e;

    --all-link-highlight-color: #ee4864;
    --tap-highlight-color: rgba(238, 72, 100, 0);

    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-highlight-color: #fff;

    --selection-color: #ee486484;
    --font-color: #ffffff;
    --background-color: #0d0d0d;
    --post-panel-color: #1f1f1f;
    --note-color: #87cefa;
    --warning-color: #ffff00;
    --top-line-strip-color: #3CA2A2;

    --footer-background-color: #00000000;
    --footer-link-color: #777;
    
    --scrollbar-track-color: #171717;
    --scrollbar-thumb-color: #242424;
    --scrollbar-thumb-highlight-color: #343434;
    
    --link-transition-time: all 0.7s ease;
    --container-transition-time: all 0.4s ease;
    
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:"Ubuntu", "sans-serif", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-sans-serif-b: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

*, ::after, ::before{
    box-sizing: border-box
}

::selection, ::-moz-selection {
  background: var(--selection-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-highlight-color);
}

html {
    font-family: var(--font-family-sans-serif-b);
    line-height: 1.15;
    -webkit-tap-highlight-color: var(--tap-highlight-color);
    tap-highlight-color: var(--tap-highlight-color);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    font-family: var(--font-family-sans-serif-b);
    color: var(--font-color);
    background: var(--background-color)
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

p{
    margin-top:0;
    margin-bottom:1rem
}

img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
    color: var(--accent-color);
}

a, a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--all-link-highlight-color);
}

.link-fade {
    -webkit-transition: var(--link-transition-time);
    -moz-transition: var(--link-transition-time);
    -ms-transition: var(--link-transition-time);
    -o-transition: var(--link-transition-time);
    transition:  var(--link-transition-time);
}



/*** Header & Navbar ***/
.navbar, .navbar-collapse, .navbar-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar {
    align-items: center;
    font-size: 20px;

    background-color: #222;
    border-color: #080808;

    border-top: 3px var(--top-line-strip-color) solid;
    border-bottom: 1px #000000 solid;
}

.navbar-nav {
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;

    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    list-style:none
}

.navbar-collapse {
    display: block;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    -webkit-box-align: center;
}


.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    
    color: var(--font-color) !important;
}

.nav-link{
    display: block;
    padding: .5rem 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5rem;

    color: var(--nav-link-color);
}

.nav-link:focus, .nav-link:hover, 
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;

    color: var(--nav-link-highlight-color) !important;
}



/*** Main Containers ***/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
}

.container-left, .container-right { 
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-box-flex: 0;
}

.container-left {
    margin: 0;
}

.container-right {
    margin-top: 2vh;
    margin-left: 2vw;
}

.container-transition{
    -webkit-transition: var(--container-transition-time);
    -moz-transition: var(--container-transition-time);
    -ms-transition: var(--container-transition-time);
    -o-transition: var(--container-transition-time);
    transition:  var(--container-transition-time);
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.content{
  padding-bottom: 250px;
}

.card {
  background-color: var(--post-panel-color);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding-top: 50px;
  margin-top: -50px;
}


blockquote {
  color: #bbb;
  font-size: 1em;
}


/*** Footer Stuff ***/
.footer-distributed {
  display: block;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;

  font: normal 16px var(--font-family-sans-serif);
  background-color: var(--footer-background-color);
}

.footer-link {
    font-family: inherit;
    padding: 0 10px !important;

    color: var(--footer-link-color);
}


/*** Posts ***/
h2.post-title {
  padding-top: 10px;
  text-align: left;
}

.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

div.post-meta {
  z-index: 1;
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
}

div.post-meta ul {
  display: inline;
  padding-left: 0;
  float: right;
  margin: 0;
}

div.post-meta ul > li {
  display: inline;
  padding: 0 0 5px 20px;
}

div.post-meta .post-time {
  display: inline;
}

.post-content > table {
  background-color: #333333;
  margin: 0 auto 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-content > table tbody {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.post-content > table th {
  text-transform: uppercase;
  text-align: center;
  padding: .5em .75em;
}

.post-content > table td {
  padding: .5em;
}

table.wide {
  width: 100%;
  max-width: 100%;
}

table.inner-borders {
  border-collapse: collapse;
  border-style: hidden;
}

table.inner-borders td {
  border: 1px solid #5e5e5e;
}

/* Custom classes to apply to block elements
more info: http://pavelmakhov.com/2015/12/images-in-jekyll */
.key {
  font-size: 1.0em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px;
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.filename {
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border-left: 0;
  bottom: -2px;
  position: relative;
  padding: 0 0 2px 1em;
}

.filename p {
  margin: 0;
}


/*** Random Stuff ***/
.apple_worm_special {
    line-height: 0 !important;
    margin: 0 !important;
    font: normal 16px var(--font-family-sans-serif);
    float: right !important;
    color: var(--transparent-color) !important;
}

.apple_worm_special:hover {
    color: var(--all-link-highlight-color) !important;
}



@media (min-width: 576px) { 

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 1px;
    }

    .navbar-nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-right: 0.5rem;
    }

    .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .nav-link{
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        color: var(--nav-link-color);
    }

    /*** Main Containers ***/
    .dynamic-margin {
        margin-left: 0;
        margin-right: 0;
    }

    .container-left {
        margin-top: 0;
    }

    .container-right {
        margin-top: 2vh;
        margin-left: 2vw;
    }
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 1vw;
    }
    
    .navbar-nav {
        margin-right: 1vw;
    }

    /*** Main Containers ***/
    .dynamic-margin {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .container-left {
        margin-top: 1vh;
    }

    .container-right {
        margin-top: 1vh;
    }
}

@media (min-width: 1200px) {

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 2.5vw;
    }

    .navbar-nav {
        margin-right: 2vw;
    }

    /*** Main Containers ***/
    .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .container-left {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
    }

    .container-right {
        max-width: 25%;
        flex: 0 0 25%;
        margin-left: 0 !important;
    }

    .dynamic-margin {
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
}
