{% include header.html %}

    <div class="wrapper">
      <div class="content">
        <div class="container_simple container-center">
          <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-md-8 offset-md-1" style="padding: 0;">
              <div class="card">
                {{ content }}
              </div>
            </div>
            <div class="col-md-3 offset_2-md-1 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
