{% include header.html %}

    <div class="wrapper">
        <div class="content container container-center">
            <div class="container-left container-transition dynamic-margin" style="padding: 0;">
              <div class="card">
                {{ content }}
              </div>
            </div>
            <div class="container-right container-transition dynamic-margin hidden-xs">
              {% include sidebar.html %}
            </div>
        </div>
      {% include footer.html %}
    </div>
  </body>
</html>
